header {
    background-color: yellowgreen;
    
}

#temperature {
    background-color: bisque;
    margin: 0 50px;
}
#weight {
    background-color: aquamarine;
}
#distance {
    background-color: blueviolet;
}

.nav-bar {
    display: flex;
    background-color: rgb(209, 229, 230);
    justify-content: center;
    
}

.links {
    gap: 20px;
}

body {
    text-align: center;
}

