body {
    background-color: rgb(243, 244, 237);
}

/* Navigation Bar for destop-nav*/
.desktop-nav,.nav-links {
    display: flex;
    background-color: rgb(195, 223, 214);
}
.desktop-nav {
    justify-content: space-around;
    align-items: center;
    height: 18vh;
}
#logo {
    font-size: 2.5rem;
    color: rgb(186, 66, 23);
}

#logo:hover {
    cursor: default;
}
.nav-links {
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}
.nav-links a {
    color: rgb(4, 104, 71);
    text-decoration: none;
}
.nav-links a:hover {
    color: rgb(120, 132, 108);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(107, 71, 71);
}


header {
    border: 2px dashed rgb(77, 4, 21);
    color: rgb(123, 34, 4);
    text-align: center;
    margin: 0 25%;
}

.web-page-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}